boto==2.48.0
boto3==1.7.54
botocore==1.10.54
certifi==2018.4.16
dj-database-url==0.5.0
Django==2.0.7
django-storages==1.6.6
django-test-without-migrations==0.6
docutils==0.14
jmespath==0.9.3
Pillow==5.2.0
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
whitenoise==3.3.1

gunicorn==19.8.1
psycopg2==2.7.4