{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

<h1>Login</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert success"><p> {{ message }}</p></div>
    {% endfor %}
{% endif %}
<form action="." method="post">
    {% csrf_token %}
    <p>
        <label>Email</label>
        <input type="email" name="email">
    </p>
    <p>
        <label>Password</label>
        <input type="password" name="password" maxlength="100">
    </p>
    <input type="submit" value="Login">
</form>
</html>