<style>
    .signup {
        background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.97) 0%, rgba(152, 119, 234, 0.97) 100%);
    }
</style>
{%  extends 'base.html' %}
{% load static %}
{% block content %}
        <!--========== PAGE CONTENT ==========-->

        <!-- Contact -->
        <div class="s-promo-block-v7  g-bg-color--dark-light">
            <div class="g-container--sm g-padding-y-80--xs g-padding-y-125--xsm">
                <div class="g-text-center--xs g-margin-b-60--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Singup</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white" style="text-transform: initial;">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% else %}
                                                    Share with us this happiness
                        {% endif %}

                    </h2>
                </div>
                <form class="center-block g-width-500--sm g-width-550--md"  action="." method="post">
                    {% csrf_token %}
                    <div class="g-margin-b-30--xs">
                        {{ form.first_name.errors }}
                        <input type="text" class="form-control s-form-v3__input" name="first_name" placeholder="* Name" {% if form.first_name.errors %} style="border: solid 0.1rem;border-color: #d9534f;" {% endif %}>
                    </div>
                    <div class="g-margin-b-30--xs">
                        {{ form.email.errors }}
                        <input type="email" class="form-control s-form-v3__input" name="email" placeholder="* Email" {% if form.email.errors %} style="border: solid 0.1rem;border-color: #d9534f;" {% endif %}>
                    </div>

                    <div class="g-margin-b-30--xs">
                        {{ form.password.errors }}
                        <input type="password" class="form-control s-form-v3__input" name="password" placeholder="* Password" {% if form.password.errors %} style="border: solid 0.1rem;border-color: #d9534f;" {% endif %}>
                    </div>
                    <div class="g-margin-b-30--xs">
                        {{ form.password2.errors }}
                        <input type="password" class="form-control s-form-v3__input" name="password2" placeholder="* Confirm Password" {% if form.password2.errors %} style="border: solid 0.1rem;border-color: #d9534f;" {% endif %}>
                    </div>

                    <div class="g-text-center--xs">
                        <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Contact -->
        <!--========== END PAGE CONTENT ==========-->

{% endblock content %}