<style>
     .l123{ color: rgba(34, 35, 36, 0.7) !important;}
</style>
{%  extends 'base.html' %}
{% load static %}
{% block content %}

        <!--========== PAGE CONTENT ==========-->
        <!-- Portfolio Filter -->
        <div class="container g-padding-y-100--xs">
            <div class="s-portfolio">
                <div id="js__filters-portfolio-gallery" class="s-portfolio__filter-v1 cbp-l-filters-text cbp-l-filters-center">
                    <div data-filter="*" class="s-portfolio__filter-v1-item cbp-filter-item cbp-filter-item-active">Show All</div>
                    <div data-filter=".graphic" class="s-portfolio__filter-v1-item cbp-filter-item">by date</div>
                    <div data-filter=".logos" class="s-portfolio__filter-v1-item cbp-filter-item">Likes</div>
                    <!--<div data-filter=".motion" class="s-portfolio__filter-v1-item cbp-filter-item">Motion</div>-->
                </div>
            </div>
        </div>
        <!-- End Portfolio Filter -->

        <!-- Portfolio Gallery -->
        <div class="container">
            <div id="js__grid-portfolio-gallery" class="cbp">
                {% for image in images %}
                <!-- Item 1-->
                <div class="s-portfolio__item cbp-item logos motion">
                    <div class="s-portfolio__img-effect">
                        <img src="{{ image.image }}" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h2 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">{{ image.likes }} like(s) </h2>
                            <p class="g-color--white-opacity">{{ image.created_at|date:'Y-m-d' }}</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="{{ image.image }}" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/like/{{ image.pk }}" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Item -->
                {% endfor %}
            </div>
            <!-- End Portfolio Gallery -->
        </div>
        <!-- End Portfolio -->

        <!-- End Clients -->
        <!--========== END PAGE CONTENT ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

{% endblock content %}